/***************************************************************************************************************************
************************************************** ESTILOS GENERALES *******************************************************
***************************************************************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Merienda:wght@300;400&family=Permanent+Marker&family=Prata&family=Raleway:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/

header{
    margin: auto;
    padding: 10px;
    max-width: 1500px;
    position: sticky;
    top:0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #BAA179;
    font-size: 25px;
    z-index: 9999;
    border-top: 10px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.8); 
}

/* NAVIGATION BAR*/

nav ul{
    position: sticky;
    display: flex;
    list-style: none;
}
nav ul  li{
    margin: 0 20px;
}

.enlace {
    top: 0px;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    
}

.active  {
    color: black;
}

nav ul li a:hover {
    text-decoration: underline;
}

.parte-superior{
    padding: 20px;
    background-color: rgb(233, 215, 188);
    color: black;
    text-align: center;
    
}

.parte-inferior{
    padding: 100px;
    border-bottom: 10px solid black;
}

/*BODY*/

body{
    width:100%;
    overflow-x: hidden; 
    background-image: url(../assets/img/fondo\ croissant.jpg);
    background-attachment: fixed;
    background-size:cover;   
    font-family: "Kalam"; 
}

.titulo {
    margin-top: 50px;
    margin-bottom: 30px;
    display:flex ;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}

.subtitulo{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 35%;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
}

p{
    text-transform: capitalize;
}

/*FOOTER*/

footer{
    margin: auto;
    padding: 0px 0px 10px 0px;
    max-width: 1500px;
    background-color: black;
    overflow: hidden;    
}

.info-compra{
    padding-top: 35px;
    height: 200px;
    background-color: #BAA179; 
  }

.icon-box{
    padding: 0 60px;
    display: flex;
    justify-content:space-around;
     
}

.icon{
    margin-top: 10px;
    display: flex;
    justify-content: center;
   }

.icon img{
    width:  70px;
}

.texto-icono{
    margin-top: 15px;
    width: 150px;
    font-size: 13px;
    display: flex;
    justify-content: center;
}

.contenido-footer {
    margin: auto;
    padding: 50px 0;
    width: 90%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.contenido-footer h4 {
    margin-bottom: 15px;
    color:#fff;  
    border-bottom: 0.5px solid #fff;
    font-size: 18px;
    letter-spacing: 2px;
}

 #ubicacion {
    margin-bottom: 0;
    color:#fff;
    text-align: center;
    font-size: 14px;   
    letter-spacing: 2px;
 }

.iconos-redes {
    padding-bottom: 30px;
    width: 60px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.contenido-footer p {
    margin-bottom: 0;
    display: block;
    color:#fff;
    font-size: 14px;   
    text-align: left;
    letter-spacing: 2px;
    text-transform: capitalize;
    cursor: pointer;
}

/***************************************************************************************************************************
************************************************** ESTILOS INDEX *******************************************************
***************************************************************************************************************************/

Section{
    padding-top: 100px;
    text-align: center;
}

/*VENTANA DEL CHAT*/

.chat{
    margin-bottom: 15px;
    height: 50px;
    width: 280px ;
    position: fixed;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    right: 15px;
    align-items: center;
    background-color: black;
    color: #fff;
    border: 2px solid #BAA179;
    border-radius: 10px;
    z-index: 9999999;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    cursor: pointer;
}

.chat:hover{
    height: 60px;
    width: 300px ;
    background-color: #BAA179;
    color: black;
    border: 2px solid black;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 1);
    text-decoration:solid;
}

.chat>img{
    width: 30px;
    position: relative;
    left:9px;
    align-items: center;
}

.section1 h1{
    margin-top: 20px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 80px;
    text-transform: uppercase;
}

.capa p ,.conocer-mas p{
    text-transform: none;
    font-size: 20px;
}

/*CARRITO DE COMPRA*/

.carritoCompra{
    margin: 0;
    width: 80px;
    position: relative;
    right: 50px;
    transition: transform 0.2s ease;
    cursor: pointer;
    animation: zoom 5s infinite;
}
@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
  .carritoCompra>img{
    padding-top: 15px;
    width: 40px;
    position: relative;
    left: 10px;
  }
  
/*LOGO DE LA EMPRESA*/

.logo{
    margin-top: 0px;
    display:inline-block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 1);
}

.logo img {
    height: 100%;
    width: auto;
    animation: spin 5s linear infinite;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
/*SECTION 1*/

.section1{
    margin-bottom: 150px;
    padding-top: 70px;
    color: #fff;
    letter-spacing: 5px;
    text-transform: capitalize;
 }
 
.conocer-mas {
    margin-top: 20px;
    padding: 50px 150px ;
    position: relative;
    top:60px;
    color: #fff;
    letter-spacing: 5px;
    }

.boton-link{
    position: relative;
    justify-content:space-evenly;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border: 2px solid #BAA179;
    border-radius: 10px;
    transition: ease-in;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
}

.boton-link:hover {
    margin-left: 50px;
    height:300px;
    width: 200px;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}


/*SECTION 2*/

.section2 , .personal{
    margin: auto;
    padding-bottom: 0px;
    width: 100%;
    height: 404px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    border: 2px solid #BAA179;
    box-shadow:0 0 50px rgba(0,0,0,0.5);
}

.info-calidad{
    display: inline-block;
    width: 270px;
    height: 270px;
    position: absolute;
    right: 230px;
    top:1300px;
    overflow: hidden;
    border-radius: 50%;
}

.info-calidad img {
    width: auto;
    height: 100%;
    margin-left: -50px;   
}

.first-figure{
    margin: 0px 0px 50px 400px ;
    width: 600px;
    position: relative;
    right:30% ;
    bottom: 100px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.first-figure .capa {
    color: #fff;
    letter-spacing: 5px ;
    padding-top:100px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(8, 8, 8, 0.5);
    opacity: 1;
    visibility: visible;
    text-align: center; 
}

.first-figure:hover > .capa {
    opacity: 0;  
    visibility: hidden; 
    transition: all 500ms ease-out;
    
}

.first-figure img {
    height: 400px;
    width: 600px;
    object-fit: cover;
}

section a{
    padding: 5px 10px;
    color: #fff;
    border: 3px solid #fff;
    font-size: 18px;
    letter-spacing: 2px;
    text-decoration: none;
}

/*SECTION3*/

.section3{
    margin-bottom: 100px;
    padding-top: 200px;
    height: 550px;
    position: relative;
    top:-100px;
    color:#fff;
    letter-spacing: 5px;
}

/*CONTENEDOR DE TABLA CON XML*/

.caja-xml{
    margin: auto;
    padding: 0px;
    height:450px ;
    width: 80%;
    position: relative;
    top: 40px;
}

.tabla:hover{
    box-shadow: 0 0 50px rgba(0,0,0,0.8); 
    cursor: pointer;
}
.tabla ,th {
    background-color: rgba(0,0,0,0.4); 
    font-size: 20px;
}

.tabla, th ,td{
    border: 1px solid #BAA179;
    border-collapse: collapse;
}
.tabla ,th ,td{
    padding: 6px;
}

/*SECTION4*/

.empleado1 img{
    padding: 10px;
    height: 250px;
    width: 250px;
    position: relative;
    top:60px;
    left: 100px;
    float: left;
    border-radius: 50%;
    object-fit: cover;
}

.empleado2 img{
    padding: 10px;
    height: 250px;
    width: 250px;
    position: relative;
    top:60px;
    left: 160px;
    float: left;
    border-radius: 50%;
    object-fit: cover;
}

.personal figure {
    margin: 0px 0px 50px 00px ;
    height: 400px;
    width: 600px;
    position: relative;
    right:-245px ;
    overflow: hidden;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.personal figure img {
    height: 100%;
    width: 100%;
    transition: all 500ms ease-out;
    }

.personal figure .capa {
        height: 100%;
        width: 100%;
        padding-top: 100px;
        position: absolute;
        top: 0;
        background: rgba(8, 8, 8, 0.5);
        color:#fff;
        opacity: 1;
        visibility: visible;
        text-align: center;
        letter-spacing: 5px;
    }
    
    .personal figure:hover > .capa {     
        opacity: 0;
        visibility: hidden;
        transition: all 500ms ease-out;
    }

/*************************************************************************************************************************
************************************************** ESTILOS FORMULARIO ****************************************************
*************************************************************************************************************************/

.formulario {
    margin-top: 50px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
}

.titulo-form{
    margin-top: 50px;
    padding: 55px 10px 0px 0px;
    height: 70px;
    width: 60%;
    max-width: 100%;
    position: relative;
    left: 15%;
    background-color: black;
    color: #fff;
    border-radius: 15px;
    align-items: center;
    font-size: 30px;
    letter-spacing: 2px;
}

.titulo-form>h3{
    padding-left: 60px;
    position: absolute;
    top: 12px; 
}

.contenedorFormulario  {
    margin-left: 20px;
    margin-bottom: 100px;
    height: 1600px;
    width:60%; 
    position: relative;
    left:20%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border: none;  
    border-radius:10px;
    border: 1px solid #BAA179;
}

.contenedorFormulario:hover{
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

fieldset {
    padding-right: 400px;
    display:block;
    align-items: center;
    color: #fff;
    border: none;
    letter-spacing: 2px;
}

legend {
    padding-bottom: 20px;
    position: relative;
    left: 0%;
    font-size: 30px;   
}

.datos-personales {
    margin-top: 40px;
    position: relative;
    left: 30px;
}

label, p {
    display:inline-flex;
    text-transform: uppercase;
}

 .datosPerInput{
    margin: 0px;
    height: 3em;
    width: 100%;
    max-width: 100%;
    display: block;
    padding: 0px 10px;
    justify-content: center;
    color: black;
    border: 1px solid white;
    border-radius: 15px;
    font-size: .97em; 
 }

 .datosPerInput:hover{
    background-color: #ddd;
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
}

small{
    position: absolute;
    top:75px;  
    float: right; 
    background-color: rgb(214, 206, 206);
    color: red;
    border-radius: 8%;
    visibility: hidden;
  }

.datos-personales .success input{
    border-color :#ddd;
}

.datos-personales.error input{
    border-color: red;
}

.datos-personales.error small{
    visibility: visible;
    float: left;
}

.smallPrivacidad{
    position: absolute;
    top:30px;   
    display: flex;
    background-color: rgb(214, 206, 206);
    border-radius: 8%;
    color: red;
    visibility: hidden;
}

.cheBox {
    margin-left: 70px;
    width: 70px;
    float: right;
    position: absolute;
    left:25%;
}

.opciones{
    padding: 10px;
    font-size: medium;
    border-radius: 15px;
}

.seleccionProducto  {
    margin: 0px;
    padding:20px 0px 0px 0px;
    position: relative;
    left: 30px;
  }

.plazo{
    height: 40px;
    padding:10px 0px 10px 150px;
    display:block;
    border: 1px solid white;
    border-radius: 15px;
    font-size: medium;
}

.plazo:hover{
    background-color:#ddd;
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
}

.presupuestoFinal>label{
    padding: 10px 25px 10px 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 25px;
}

.precioFinal {
    margin-left: 201px;
    padding: 0px;
    height: 3em;
    position: relative;
    bottom: 60px;
    text-align: center;
    background-color: black;
    color:#fff;
    border:none;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
    font-size:20px;
}

.consentimiento{
    display: block;
    position: relative;
    left: 30px;
    justify-content: center;
}

.extras>label{
    margin: 0;
    padding: 0;
    float: left;
}

.privacidad{
    margin-bottom: 2px;
    height: 80px;
}

fieldset>.contenedor-botones{
    width: 500px;
    display: block;
    align-items: center;
}

.boton{
    margin-left: 70px;
    height: 60px;
    width: 100px;
    position: relative;
    left: 34%;
    background-color:black;
    color: #fff;  
    border:none;
    border-radius: 15px;
    box-shadow: 0px 15px 25px rgba(253, 252, 252, 0.1);
    font-size: 15px;
    letter-spacing: 3px;
    font-family: "Kalam";
    cursor: pointer;
}

.boton:active{ 
    background: #BAA179; 
    color:black;
    border: rgb(8, 8, 8) solid 0.5px;     
    font-size: 20px;
}

.boton:hover{
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.8);  
}

/***************************************************************************************************************************
************************************************** ESTILOS GALERÃA *******************************************************
***************************************************************************************************************************/

.contenedor{
    padding-bottom: 80px;
    min-height: 100vh;
    position: relative;
    text-align: center;
}

.contenedor .contenedor-imagenes{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;    
}

.image .capaImagen{
    height: 100%;
    width: 100%;
    top: 0;   
    opacity: 0;
    visibility: hidden;
    text-align: center;
    position: absolute;
} 

.image .capaImagen p {
    position: relative;
    top: 110px;
    display:block;
    color:#fff;
    font-size: 25px;
     text-transform:inherit;
    letter-spacing: 2px;
}

.image:hover > .capaImagen {
    background-color: rgba(0,0,0,0.5);
    opacity: 1;
    visibility: visible;
}

.contenedor .contenedor-imagenes .image {
    height: 250px;
    width: 350px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
    transition: .2s linear;
    overflow: hidden;
    border: 2px solid #BAA179;
    border-radius: 10px;
    cursor: pointer;
}

.contenedor .contenedor-imagenes .image:hover {
    filter: brightness(100%);
    transform: scale(1.1);
}

.contenedor .contenedor-imagenes .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/***************************************************************************************************************************
************************************************** ESTILOS CONTACTO *******************************************************
***************************************************************************************************************************/

.contenedorContacto> .contactoInfo{
    margin: 100px;
    margin-top: 0;
    padding-left: 30px;
    padding-top: 50px;
    height: 400px;
    width: 700px;
    position: relative;
    left:250px;
    background-color: rgba(0,0,0,0.5);
    color: #fff; 
    border: 2px solid #BAA179;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contactoInfo div{
    margin-bottom: 10px;
}
.contenedorContacto> .contactoInfo p{
    font-size: 20px;
    text-transform: none;
}

.contenedorContacto> .contactoInfo:hover{
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

/*MAPA*/

#map{
    margin-bottom: 80px;
    height:600px;
    width: 100%;
    border:2px solid #BAA179; 
    border-radius: 10px;   
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    font-size: small;
    text-align: center;
    font-size: 10px;
}

.imgMap{
    margin: 0;
    height: 150px;
    width:200px;
    display: flex;
    margin-left: 19px;
}