<!DOCTYPE html>
<html lang="es">
<head>
    <title>Trabajo práctico final JAVASCRIPT</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Favicón-->
    <link rel="icon" type="image/x-icon" href="../favicon.ico?v=2">
    <!--Declaración de fichero estilos-->
    <link rel="stylesheet" type="text/css" href="../css/estilos.css">
    <!--Delcaración fuente de letra-->
    <link href="https://file.myfontastic.com/UvoKhJfr6Xfkaee7qqaKQf/icons.css" rel="stylesheet">
    <!--Declaración de íconos redes sociales-->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="parte-superior">
        <p>Av. Río Guadaíra 8204-Sevilla</p>
    </div>
    <header>
        <div> 
             <!--Barra de menú-->  
            <nav>
                <ul>
                    <li><a class="enlace" href="../index.html">Inicio</a></li>
                    <li><a class="enlace" href="../views/galería.html">Galería</a></li>
                    <li><a class="enlace active" href="../views/presupuesto.html">Presupuesto</a></li>
                    <li><a class="enlace" href="../views/contacto.html">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <!--Carrito de compras--> 
        <div class="carritoCompra">
            <img  src="../assets/icons/cart.png" alt="carrito de shopping">
        </div>
    </header>
    <main>
        <!--Ventana del chat de ayuda al usuario-->
        <div class="chat">
            <img src="../assets/icons/whatsappIcon.png" alt="whatsapp ícono">
              <p>¿Cómo podemos ayudarte?</p>
          </div>
        <h2 class="titulo">DESAYUNOS</h2>
        <div class="contenedorFormulario">
            <form id="formulario" name="formulario" method="POST" action="#" > <!--onsubmit="return formulario ()-->
            <div class="titulo-form"> 
                <h3>SOLICITE PRECIO AQUÍ</h3>
            </div>
                <!--Primera parte formulario "Datos personales"-->    
                    <fieldset class="datos-personales">
                        <legend>Datos personales</legend>
                        <div >
                            <label for="nombre">NOMBRES (OBLIGATORIO)</label>
                            <input type="text" class="datosPerInput" id="nombre" name="nombre"  title="Escriba sólo letras entre 5 y 15 carácteres" placeholder="Escriba su nombre" ><br>
                            <small>Inválido</small>
                        </div>

                        <div>
                            <label for="nombre">APELLIDOS (OBLIGATORIO)</label>
                            <input type="text" class="datosPerInput"  id="apellidos" name="apellidos"  title="Escriba sólo letras entre 5 y 30 carácteres" placeholder="Escriba sus apellidos" ><br>
                            <small>Inválido</small>
                        </div>

                        <div>
                            <label for="telefono">TELÉFONO (OBLIGATORIO)</label>
                            <input type="text" class="datosPerInput" id="telefono" name="telefono"  title="Escriba los 7 números de su teléfono" placeholder="Escriba su número telefónico" ><br>
                            <small>Inválido</small>
                        </div>

                        <div>
                            <label for="email">EMAIL (OBLIGATORIO)</label>
                            <input type="email" class="datosPerInput" id="email" name="email" title="Ejemplo: claralopez92@gmail.com"  placeholder="Escriba su correo electrónico" ><br>
                            <small>Inválido</small>
                        </div>
                    </fieldset>                  
                <!--Segunda parte formulario "Selección de productos-->    
                    <div class="seleccionProducto">                     
                        <fieldset ><legend>Presupuesto</legend>
                            <p>Seleccione desayuno:</p>
                            <div><br>
                            <select class="opciones" name="productos" id="opciones" size="1">
                                <option value="48.00">Pack desayuno dulce 10 personas 48€</option>
                                <option value="78.00">Pack desayuno salado 10 personas 78€</option>
                                <option value="90.00">Pack desayuno mixto 10 personas 90€</option>
                                <option value="150.00">Combo familia y amigos 20 personas 150€</option>
                            </select><br><br>
                            </div>
                <!--Plazo en días-->
                            <div >
                                <label for="plazo">Plazo de días por encargo:</label><br><br>
                                <input class="plazo" id="plazo" type="number" min="1" max="3" value="3"><br><br>
                            </div>
                <!--Productos extras-->
                            <div class="extras" id="extras">
                                <p>Seleccione servicios extras:</p><br><br>
                                <label>TARJETA CON DEDICATORIA</label>
                                <input class="cheBox" name="tarjeta" id="tarjeta" type="checkbox" value="5.00" ><br>
                                <label>TAZA PERSONALIZADA</label>
                                <input class="cheBox" name="taza" id="taza" type="checkbox" value="10.00"><br>
                                <label>PASTEL PERSONALIZADO</label>
                                <input  class="cheBox" name="pastel" id="pastel" type="checkbox"  value="30.00"><br>
                                <label>ENVÍO A DOMICILIO</label>
                                <input  class="cheBox" name="delivery" id="delivery" type="checkbox"  value="20.00"><br><br>
                            </div>
                            <div class="presupuestoFinal">
                                <label>PRECIO FINAL:</label>
                                <input class="precioFinal" name="presupuesto" id="presupuesto" type="text"  value="48">
                            </div>
                        </fieldset>
                    </div>
                <!--Tercera parte formulario "Autorizaciones"-->   
                    <div >
                        <fieldset class="consentimiento">
                        <legend>Consentimiento y envío</legend>
                         <!--Checkbox-->
                         <div class="privacidad">
                            <label id="label">Acepta política de privacidad</label>
                            <input type="checkbox"  class="cheBox" name="privacidad" id="privacidad">
                            <small class="smallPrivacidad">Inválido</small><br>
                        </div>
                        <!--Botones de envío y borrado-->
                            <div class="contenedor-botones">
                                <input type="submit" name="envio" id="envio" value="ENVIAR" class="boton">
                                <input type="reset" name="reseteo" id="reseteo" value="BORRAR" class="boton">
                            </div><br><br>
                        </fieldset>
                    </div>
                </form>
            </div>
            <div class="parte-inferior"></div>   
    </main>
    <footer>
        <!--Primera parte del footer con información de compra-->
        <div class="info-compra">
            <div class="icon-box">
                <div>
                    <div class="icon">
                        <img  src="../assets/icons/watch.png" alt="reloj"> 
                    </div> 
                    <div class="texto-icono">
                        <p>Envío inmediato</p>
                    </div>               
                </div>
                <div>
                    <div class="icon">
                        <img src="../assets/icons/shoppingBag.png" alt="bolsa de compra">  
                    </div>   
                    <div class="texto-icono">
                        <p>Recogida en tienda</p>
                    </div>
                </div>     
                <div>
                    <div class="icon">
                        <img src="../assets/icons/open.png" alt="símbolo abierto">     
                    </div>
                    <div class="texto-icono">
                        <p>Lunes a Domingo</p>
                    </div>    
                </div> 
                <div>
                    <div class="icon">
                        <img src="../assets/icons/safety.png" alt="compra segura">     
                    </div>
                    <div class="texto-icono">
                        <p>Pago rápido y seguro</p>
                    </div>  
                </div>    
            </div>          
        </div>
        <!--Segunda parte del footer con información de legales y redes sociales-->
        <div class="contenido-footer">
            <div>
                <h4><i class='bx bxs-map' style='color:#fff' ></i> UBICACIÓN </h4>
                <p>Av. Río Guadaíra 8204</p>
                <p id="ubicacion">Sevilla-España</p>
            </div>
            <div >
                <h4>LEGALES</h4>
                <p>Términos de uso</p>
                <p>Política de privacidad</p>
                <p>Política de cookies</p>
            </div>
            <div class="redes">
                <div class="iconos-redes">
                    <i class='bx bxl-twitter bx-burst' style='color:#fff' ></i>
                </div>
                <div class="iconos-redes">
                    <i class='bx bxl-facebook-circle bx-burst' style='color:#fff' ></i>
                </div>
                <div class="iconos-redes">
                    <i class='bx bxl-instagram-alt bx-burst' style='color:#fff' ></i>
                </div>
            </div>
        </div>
    </footer>
    <!--Declaración ficheros Javascript-->
    <script src="../js/form.js"></script>
    <script src="../js/validacion.js"></script>
</body>
</html>